.copyright__name {
  display: flex;
  padding-top: 2px;

  justify-content: space-between;
  align-items: center;

  @include text(16px, 18px);
  color: $color-devobs;

  &:active {
    opacity: 0.3;
  }

  &:hover .copyright__logo {
    fill: $color-button;
  }

  &:active .copyright__logo {
    fill: $color-button;
    opacity: 0.3;
  }

  @include tablets {
    padding-top: 6px;
    width: 165px;
  }

  @include desktop {
    padding-top: 2px;
  }
}

.copyright__logo {
  display: flex;
  width: 27px;
  height: 34px;
  fill: $color-social-link;

  @include tablets {
    width: 27px;
    height: 34px;
    margin-left: 23px;
  }
}
