.page-header {
  position: relative;
  padding: 0;

  @include tablets {
    display: flex;
    justify-content: space-between;
  }

  @include desktop {
    position: static;
  }
}

.page-header__wrapper {
  display: flex;
  padding-top: 11px;
  justify-content: space-between;
  align-items: center;
  background-color: $color-title-light;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;

  @include tablets {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
  }

  @include desktop {
    padding-left: 6px;
    padding-right: 0;
    padding-top: 55px;
  }
}

.page-header__background {
  &::after {
    content: "";
    position: absolute;
    display: block;
    // top: 123%;
    top: 100%;
    right: 0;
    width: 100%;
    min-height: 305px;
    background-image: url("../img/index-background-mobile1.png");
    background-repeat: no-repeat;
    background-color: $color-button;
    background-position: center;
    background-size: cover;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      position: absolute;
      display: block;
      // top: 123%;
      top: 100%;
      right: 0;
      width: 100%;
      min-height: 305px;
      background: url("../img/index-background-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-color: $color-button;
      background-position: center;
      background-size: cover;
      z-index: -1;
    }

    @include tablets {
      display: none;
    }

    @include desktop {
      content: "";
      position: absolute;
      display: block;
      background-image: url("../img/index-background-desktop1.png");
      background-repeat: no-repeat;
      background-color: $color-button;
      top: 0;
      width: 50%;
      min-height: 694px;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        position: absolute;
        display: block;
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-repeat: no-repeat;
        background-color: $color-button;
        top: 0;
        width: 50%;
        min-height: 694px;
        z-index: -1;
      }
    }
  }
}

.page-header__toggle {
  background-color: inherit;
  border: none;
  width: 24px;
  height: 16px;
  position: relative;
  margin-right: 0;

  &--nojs {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: $color-title-dark;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  &::before {
    top: 0;
    height: 2px;
  }

  &::after {
    bottom: 0;
  }

  span {
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: $color-title-dark;
    top: 7.5px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  &--inactive::before {
    transform: rotate(45deg);
    top: 7.5px;
  }

  &--inactive::after {
    transform: rotate(-45deg);
    bottom: 7.5px;
  }

  &--inactive span {
    transform: scale(0);
  }

  @include tablets {
    display: none;
  }
}

.page-header__logo {
  @include tablets {
    width: 174px;
    height: 51px;
  }

  @include desktop {
    width: 193px;
    height: 59px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__image {
  @include tablets {

    width: 100%;
  }
}
