.additional-card {
  border-top: 1px solid $color-border-additional;
  padding-top: 14px;
  padding-bottom: 17px;

  &:last-child {
    border-bottom: 1px solid $color-border-additional;
  }

  @include tablets {
    display: flex;
    flex-direction: column;
    border: 1px solid $color-border-additional;
    padding: 25px 37px 27px 37px;
    margin-top: -1px;
  }

  @include desktop {
    flex-direction: row;
    padding: 15px 0 16px 0;
    border: none;
    margin-top: 0;
    border-top: 1px solid $color-border-additional;

    &:last-child {
      border-bottom: 1px solid $color-border-additional;
    }
  }
}

.additional-card__stats {
  display: flex;
  justify-content: space-between;
}
