.additional-goods__wrapper {
  padding-left: 0;
  padding-right: 0;
  text-align: start;

  @include desktop {
    display: flex;
  }
}

.additional-goods__title-wrapper {
  border-top: 2px solid $color-button;
  margin-bottom: 15px;
  margin-top: 43px;

  @include tablets {
    margin-bottom: 27px;
    margin-top: 90px;
  }

  @include desktop {
    margin-top: 97px;
    margin-bottom: 37px;
  }
}

.additional-goods__title {
  position: relative;
  display: inline-block;
  background: $color-title-light;
  margin: 0 0 0 -20px;
  padding-left: 20px;
  padding-right: 22px;
  transform: translateY(-68%);
  font-family: $title-font;
  font-weight: normal;
  color: $color-title-dark;

  @include text(24px, 24px);

  @include tablets {
    padding: 28px 35px 0 38px;
    margin: 0 0 0 0;
    transform: translateY(-81%);

    @include text(36px, 36px);
  }

  @include desktop {
    margin: 0 0 0 -40px;
    padding: 0 35px 0 40px;
    transform: translateY(-66%);
  }
}

.additional-goods__list {
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
  margin-bottom: 39px;

  @include tablets {
    margin-bottom: 68px;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 35px;
    margin-bottom: 84px;
    padding-left: 0;
    margin-top: 17px;
    padding-top: 0;
  }
}
