.additional-goods__wrapper {
  outline: solid orange;

  @include desktop {
    display: flex;
  }
}

.additional-goods__title-wrapper {
  margin-bottom: 35px;
  margin-top: 28px;

  @include tablets {
    margin-bottom: 80px;
    margin-top: 68px;
  }

  @include desktop {
    margin-top: 76px;
    margin-bottom: 81px;
  }
}

.additional-goods__title {
  font-family: $title-font;
  font-weight: normal;
  color: $color-title-dark;

  @include text(24px, 24px);

  @include tablets {
    padding: 28px 35px 0 38px;

    @include text(36px, 36px);
  }

  @include desktop {
    padding: 0;
  }
}

.additional-goods__list {
  outline: solid green;
  padding-left: 0;
  list-style: none;
  margin-bottom: 39px;

  @include tablets {
    margin-bottom: 68px;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
    margin-bottom: 85px;
  }
}
