.advantages {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 38px;
  font-family: $title-font;
  font-weight: normal;

  @include text(36px, 40px);
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 246px 246px;
    grid-template-rows: 280px 280px;
    grid-row-gap: 37px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 280px;
  }
}

.advantages__item {
  display: flex;
  margin-bottom: 20px;
  counter-increment: section; //не работает

  @include text(14px, 18px);

  &::before {
    content: "";
    flex-shrink: 0;
    margin-right: 20px;
    width: 60px;
    height: 60px;

    &--functional-nutrition::before {
      background: url("../img/advantage-leaf.png") no-repeat;
    }

    background: url("../img/advantage-powder.png") no-repeat;
  }

  &--equivalent::before {
    background: url("../img/advantage-knife.png") no-repeat;
  }

  &--good-changes::before {
    background: url("../img/advantage-libra.png") no-repeat;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;

    ::after {
      content: counter(section); //не работает
    }
  }
}
