.advantages__wrapper {
  @include tablets {
    padding-bottom: 20px;
    margin: 0 auto;
  }

  @include desktop {
    padding-bottom: 0;
  }
}

.advantages__title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 38px;
  font-family: $title-font;
  font-weight: normal;
  color: $color-title-dark;

  @include text(36px, 40px);

  @include tablets {
    @include text(60px, 60px);
    margin-bottom: 70px;
    margin-top: 44px;
  }

  @include desktop {
    margin-bottom: 70px;
    margin-top: 72px;
  }
}

.advantages__item-text {
  padding-top: 3px;
  padding-left: 20px;

  @include tablets {
    padding-top: 32px;
    padding-left: 0;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;

  @include tablets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 88px;
    grid-column-gap: 60px;
    counter-reset: number;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 75px;
    grid-row-gap: 40px;
    margin-bottom: 10px;
    counter-reset: number;
  }
}

.advantages__item {
  display: flex;
  color: $color-devobs;
  position: relative;
  padding-bottom: 20px;

  @include text(14px, 18px);

  &::before {
    content: "";
    flex-shrink: 0;
    margin-right: 0;
    width: 60px;
    height: 60px;
  }

  &--functional-nutrition::before {
    background-image: url("../img/advantage-leaf.png");
    background-repeat: no-repeat;
  }

  &--fast-cook::before {
    background-image: url("../img/advantage-powder.png");
    background-repeat: no-repeat;
  }

  &--equivalent::before {
    background-image: url("../img/advantage-knife.png");
    background-repeat: no-repeat;
  }

  &--good-changes::before {
    background-image: url("../img/advantage-libra.png");
    background-repeat: no-repeat;
  }

  @include tablets {
    flex-direction: column;
    margin-bottom: 40px;
    padding-top: 3px;
    width: 250px;
    padding-bottom: 0;

    @include text(16px, 24px);

    &::before {
      content: "";
      flex-shrink: 0;
      margin-right: 0;
      width: 80px;
      height: 80px;
    }

    &--functional-nutrition::before {
      background-image: url("../img/advantage-leaf-tablet.png");
      background-repeat: no-repeat;
    }

    &--fast-cook::before {
      background-image: url("../img/advantage-powder-tablet.png");
      background-repeat: no-repeat;
    }

    &--equivalent::before {
      background-image: url("../img/advantage-knife-tablet.png");
      background-repeat: no-repeat;
    }

    &--good-changes::before {
      background-image: url("../img/advantage-libra-tablet.png");
      background-repeat: no-repeat;
    }
  }

  &::after {
    @include tablets {
      @include pseudo;
      top: 103px;
      right: 24px;
      width: 112px;
      height: 280px;
      color: $color-bg;
      font-family: $title-font;

      @include text(280px, 0);
      content: counter(number);
      counter-increment: number;
      z-index: -1;
    }
  }

  @include desktop {
    flex-direction: column;

    padding-top: 2px;
  }
}
