.catalog {
  width: 320px;
  margin: 0 auto;
}

.catalog__wrapper {
  padding: 0 20px;
}

.catalog__title {
  text-align: center;
  font-family: $title-font;
  font-weight: normal;
  padding-bottom: 41px;
  padding-top: 27px;
  border-top: 1px solid $color-light-border;
  border-bottom: 1px solid $color-light-border;

  @include text(36px, 36px);
  margin-bottom: 0;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
