.catalog__title {
  text-align: center;
  font-family: $title-font;
  font-weight: normal;
  padding-bottom: 41px;
  padding-top: 27px;
  border-top: 1px solid $color-light-border;

  @include text(36px, 36px);
  margin-bottom: 0;

  @include tablets {
    text-align: start;
    border: none;
  }
}

.catalog__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @include tablets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    padding: 0;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 63px;
    margin: 0 auto;
  }
}
