.catalog__title {
  text-align: start;
  font-family: $title-font;
  font-weight: normal;
  padding-bottom: 40px;
  padding-top: 27px;
  border-top: 1px solid $color-light-border;
  margin-top: 0;
  // padding-left: 20px;
  padding-right: 0;

  @include text(36px, 36px);
  margin-bottom: 0;

  @include tablets {
    text-align: center;
    border: none;
    // padding-left: 30px;
    padding-top: 51px;

    @include text(60px, 60px);
  }
}

.catalog__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @include tablets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    padding: 0;
    padding-top: 41px;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 63px;
    margin: 0 auto;
  }
}
