.choose {
  background-color: $color-bg;
}

.choose__title {
  font-family: $title-font;
  margin-top: 0;
  font-weight: normal;
  padding-left: 70px;
  text-transform: uppercase;
  position: relative;

  @include text(24px, 37px);

  &::before {
    @include pseudo;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-button;
  }

  &--slim::after {
    @include pseudo;
    top: 0;
    left: 7px;
    width: 36px;
    height: 50px;
    background: url("../img/icon-cat-slim.svg") no-repeat;
  }

  &--pro::after {
    @include pseudo;
    top: 10px;
    left: -10px;
    width: 67px;
    height: 28px;
    background: url("../img/icon-cat-pro.svg") no-repeat;
  }
}

.choose__text {
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  margin-bottom: 15px;
  border-bottom: 1px solid $color-border;

  @include text(14px, 18px);
}

.choose__link {
  display: inline-block;
  position: relative;
  font-family: $title-font;
  font-weight: normal;
  text-transform: uppercase;
  padding-right: 15px;
  color: $color-title-dark;

  @include text(16px, 16px);

  &::after {
    @include pseudo;
    background: url("../img/icon-arrow.svg") no-repeat;
    width: 32px;
    height: 10px;
    top: 3px;
    right: -25px;
  }
}
