.choose {
  background-color: $color-bg;
}

.choose_wrapper {
  position: relative;

  @include tablets {
    padding-right: 200px;
    margin-left: 52px;
    margin-bottom: 53px;
    margin-top: 77px;
    margin-right: 62px;
  }

  @include desktop {
    padding-right: 0;
    margin-bottom: 55px;
    margin-right: 20px;
  }
}

.choose__title {
  font-family: $title-font;
  margin-top: 0;
  font-weight: normal;
  padding-left: 72px;
  text-transform: uppercase;

  @include text(24px, 37px);

  &::before {
    @include pseudo;
    top: -6px;
    left: 3px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-button;
  }

  &--slim::after {
    @include pseudo;
    top: -8px;
    left: 10px;
    width: 36px;
    height: 50px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  &--pro::after {
    @include pseudo;
    top: 4px;
    left: -6px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }

  @include tablets {
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 24px;

    @include text(36px, 36px);

    &::before {
      @include pseudo;
      top: 14px;
      left: 393px;
      width: 201px;
      height: 201px;
    }

    &--slim::after {
      @include pseudo;
      top: 3px;
      left: 424px;
      width: 140px;
      height: 192px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--pro::after {
      @include pseudo;
      top: 58px;
      left: 359px;
      width: 268px;
      height: 112px;
      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  @include desktop {
    text-align: center;
    padding-left: 9px;

    &--pro {
      padding-left: 51px;
    }

    &::before {
      @include pseudo;
      top: -31px;
      left: 0;
      width: 100px;
      height: 100px;
    }

    &--slim::after {
      @include pseudo;
      top: -37px;
      left: 14px;
      width: 70px;
      height: 97px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }

    &--pro::after {
      @include pseudo;
      top: -11px;
      left: -20px;
      width: 134px;
      height: 56px;
      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
    }
  }
}

.choose__text {
  margin: 0;
  padding: 0;
  padding-top: 7px;
  padding-bottom: 22px;
  border-bottom: 1px solid $color-border;

  @include text(14px, 18px);

  @include tablets {
    padding-bottom: 31px;
    padding-top: 0;
    border: none;

    @include text(16px, 24px);

    &--pro {
      padding-right: 30px;
    }
  }

  @include desktop {
    padding-top: 49px;
    padding-bottom: 26px;
  }
}

.choose__link {
  display: inline-block;
  position: relative;
  font-family: $title-font;
  font-weight: normal;
  text-transform: uppercase;
  padding-right: 15px;
  padding-top: 20px;
  color: $color-title-dark;

  @include text(16px, 16px);

  &::after {
    @include pseudo;
    background: url("../img/icon-arrow.svg") no-repeat;
    width: 24px;
    height: 12px;
    top: 21px;
    right: -25px;
  }

  @include tablets {
    @include text(20px, 30px);

    &::after {
      @include pseudo;
      background: url("../img/icon-arrow.svg") no-repeat;
      width: 24px;
      height: 12px;
      top: 29px;
      right: -33px;
    }
  }

  @include desktop {
    padding-top: 0;

    &::after {
      @include pseudo;
      background: url("../img/icon-arrow.svg") no-repeat;
      width: 24px;
      height: 12px;
      top: 9px;
      right: -44px;
    }
  }

  &:hover::after {
    @include pseudo;
    width: 32px;
    height: 10px;
    background: url("../img/icon-arrow-long.svg") no-repeat;
  }

  &:active {
    opacity: 0.3;
  }
}
