.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 23px;
  background-color: $color-title-light;

  @include tablets {
    padding-bottom: 20px;
    padding-top: 25px;
  }

  @include desktop {
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 0;
  }
}

.contacts__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  @include tablets {

    justify-content: space-between;
    padding: 5px 41px 43px 41px;
  }

  @include desktop {
    background-color: $color-title-light;
    margin-left: 0;
    width: 570px;
    margin-bottom: -201px;
    top: 95px;
    position: relative;
    z-index: 1;
    padding-top: 63px;
    padding-right: 90px;
    padding-bottom: 58px;
    padding-left: 76px;
  }
}

.contacts__title {
  margin: 0;
  margin-right: 17px;
  font-family: $title-font;
  font-weight: normal;
  color: $color-contacts-text-title;
  text-transform: uppercase;

  @include text(16px, 18px);

  @include tablets {
    @include text(20px, 24px);
    padding-top: 5px;
  }
}

.contacts__addres {
  margin: 0;
  padding-top: 2px;
  color: $color-devobs;

  @include text(14px, 20px);

  @include tablets {
    @include text(16px, 20px);
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 79px;
    padding-top: 0;
  }

  @include desktop {
    text-align: left;
    padding-top: 0;
  }
}
