.example {
  background-color: $color-bg-example;

  @include tablets {
    background-color: $color-title-light;
    border-top: 1px solid $color-light-border;
    margin-top: 21px;
  }

  @include desktop {
    background-color: $color-title-light;
    border: none;
  }
}

.example__content {

  @include desktop {
    width: 437px;
  }
}

.example__wrapper {
  background-color: $color-bg-example;
  padding-top: 35px;
  padding-bottom: 33px;

  @include tablets {
    background-color: $color-title-light;
  }

  @include desktop {
    background-color: $color-bg-example;

    display: flex;
    justify-content: space-between;
    border-top: none;
    // max-width: $desktop-width;
    // margin: 0 auto;
    margin-top: 25px;
    padding-bottom: 0;
  }
}

.example__row {
  display: flex;
  justify-content: space-between;
}

.example__cost {
  text-align: center;
}

.example__title {
  margin-top: 0;
  padding-top: 27px;
  margin-bottom: 0;
  font-family: $title-font;
  font-weight: normal;
  color: $color-title-dark;

  @include text(36px, 40px);

  @include tablets {
    @include text(60px, 60px);
    margin-bottom: 30px;
    margin-top: 16px;
  }

  @include desktop {
    margin-bottom: 76px;
    margin-top: 58px;
  }
}

.example__text {
  margin: 0;
  padding-right: 10px;
  margin-bottom: 25px;
  color: $color-devobs;

  @include text(14px, 18px);

  @include tablets {
    @include text(16px, 24px);
    margin-bottom: 54px;
  }

  @include desktop {
    @include text(16px, 24px);
    margin-bottom: 69px;
    padding-top: 35px;
    padding-right: 0;
    padding-left: 0;
  }
}

.example__stats {
  margin-bottom: 36px;

  @include tablets {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
  }

  @include desktop {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.example__row {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablets {
    width: 366px;
    justify-content: flex-start;
    margin-bottom: 55px;
  }

  @include desktop {
    width: 476px;
    padding-left: 0;
  }

}

.example__column {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include tablets {
    margin-right: 42px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.example__description {
  background-color: $color-bg-example;
  margin: 0;
  padding: 0;
  width: 80px;
  color: $color-devobs;
  text-align: center;
  position: relative;
  z-index: 1;
  margin: 0;
  margin-top: -8px;
  margin-left: -2px;

  @include text(12px, 12px);

  @include tablets {
    @include text(14px, 14px);
    width: 143px;
    background-color: $color-title-light;
    margin-top: -9px;
  }

  @include desktop {
    @include text(14px, 14px);
    width: 139px;
    background-color: $color-bg-example;
    padding-top: 2px;
  }
}

.example__value {
  margin: 0;
  padding: 14px 5px 15px 5px;
  width: 124px;
  border: 1px solid $color-title-dark;
  border-radius: 5px;
  font-family: $title-font;
  font-weight: normal;
  color: $color-title-dark;
  text-transform: uppercase;
  text-align: center;

  @include text(24px, 24px);

  @include tablets {
    @include text(30px, 37px);
    padding-top: 14px;
    padding-bottom: 18px;
    padding-right: 5px;
    padding-left: 5px;
    width: 162px;
  }
}

.example__cost {
  margin: 0;
  font-family: $title-font;
  font-weight: normal;
  color: $color-title-dark;
  text-transform: uppercase;
  text-align: center;

  @include text(14px, 20px);

  @include tablets {
    @include text(20px, 20px);
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-top: 10px;
  }

  @include desktop {
    flex-direction: row;
    margin-top: 0;
    padding-left: 0;
  }
}

.example__price {
  @include tablets {
    margin-top: 9px;
  }

  @include desktop {
    margin-top: 0;
    margin-left: 63px;
  }
}

.example_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include desktop {
    flex-direction: row;
  }
}
