.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  background-color: $color-bg;
}

.footer__wrapper {
  padding: 0 20px;
}

.footer__logo {
  display: flex;
  padding-top: 39px;
  padding-bottom: 32px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $color-border;
}

.footer__social {
  padding: 20px 0;
}

.footer__social-list {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  list-style: none;
}

.footer__copyright {
  display: flex;
  width: 280px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color-border;
  padding-top: 22px;
  padding-bottom: 22px;
}

.copyright__name {
  color: $color-devobs;
}
