.footer {
  background-color: $color-bg;
}

.footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  display: flex;
  padding-top: 39px;
  padding-bottom: 32px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $color-border;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.footer__social {
  padding: 20px 0;
}

.footer__social-list {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    min-width: 129px;
  }
}

.footer__copyright {
  display: flex;
  width: 280px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color-border;
  padding-top: 22px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    border-top: none;
    display: flex;
    justify-content: flex-end;
  }
}

.copyright__name {
  color: $color-devobs;

  @media (min-width: $tablet-width) {
    padding-right: 22px;
  }
}
