.footer {
  background-color: $color-bg;
}

.footer__wrapper {
  @include tablets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 40px;
  }

  @include tablets {
    padding-top: 16px;
  }

  @include desktop {
    padding-top: 23px;
  }
}

.footer__logo {
  display: flex;
  padding-top: 39px;
  padding-bottom: 27px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $color-border;

  @include tablets {
    border-bottom: none;
    padding-top: 44px;
  }

  @include desktop {
    padding-top: 36px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__social {
  padding: 24px 0 12px 0;

  @include tablets {
    padding: 33px 0 16px;
  }

  @include desktop {
    padding: 33px 0 28px 0;
  }
}

.footer__copyright {
  border-top: 1px solid $color-border;
  padding-top: 20px;
  padding-bottom: 30px;

  @include tablets {
    border-top: none;
    padding-top: 35px;
  }

  @include desktop {
    padding-top: 36px;
  }
}
