body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-weight: 400;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: 1220px;
    padding: 0;
    width: 100%;
  }
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 7px;
  color: $color-title-light;
  text-transform: uppercase;
  background-color: $color-button;
  font-family: $title-font;
  font-weight: normal;

  &:hover {
    background-color: $color-bg-btn-hover;
  }

  &:active {
    background-color: $color-bg-btn-hover;
    color: $color-text-alt-active;
  }

  &--theme--gray {
    color: $color-devobs;
    background-color: $color-bg;

    &:hover {
      background-color: $color-catalog-border;
    }

    &:active {
      background-color: $color-catalog-border;
      color: $color-text-paragraph-active;
    }
  }

  &--adaptive {
    @include text(14px, 18px);
    padding: 11px 5px;

    @include tablets {
      @include text(20px, 28px);
      width: 244px;
      padding: 13px 5px;
      margin-left: 82px;
    }

    @include desktop {
      padding: 13px 5px;
      margin-left: 80px;
    }
  }

  &--size-product {
    @include text(16px, 20px);
    padding: 10px 5px;
    margin-left: 20px;
    margin-right: 20px;
  }

  &--catalog {
    @include text(16px, 20px);
    padding: 10px 5px;
    margin-left: 20px;
    margin-right: 20px;
  }

  &--catalog-additional {
    @include text(16px, 20px);
    padding: 10px 5px;
  }

  &--size--form {
    @include text(16px, 20px);
    padding: 10px 5px;
    border: none;

    @include tablets {
      @include text(20px, 24px);
      padding: 14px 5px;
    }
  }
}
