body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-weight: 400;
}

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: 1220px;
    padding: 0 110px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.button {
  display: flex;
  background-color: $color-button;
  font-family: $title-font;
  min-height: 40px;
  justify-content: center;
  align-items: center;
  color: $color-title-light;

  @include text(16px, 0);
  text-transform: uppercase;
  margin-bottom: 14px;
}
