.item-card {
  @include tablets {
    background: linear-gradient($color-title-light 0 81px, $color-bg 81px 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 40px;
    padding-left: 30px;
  }
}

.item-card__wrapper {
  display: flex;
  justify-content: center;
  // align-items: center;
  // padding: 0 20px;
  border-top: 1px solid $color-light-border;

  @include tablets {
    flex-direction: column;
    border: none;
    padding: 0;
    padding-right: 37px;
    padding-left: 6px;
  }
}

.item-card__image {
  // display: flex;
  justify-content: center;
  align-items: center;
  // width: 140px;

  @include tablets {
    position: relative;
    padding-bottom: 28px;
    width: 168px;
  }

  @include desktop {
    padding-bottom: 46px;
  }
}

.item-card__picture {
  display: block;
  object-fit: cover;

  @include tablets {
    width: 324px;

    object-fit: contain;
  }

  @include desktop {
    width: 245px;

    object-fit: contain;
  }
}

.item-card__info {
  flex-grow: 1;
  margin-top: 9px;
}

.item-card__title {
  display: block;
  width: 80px;
  font-family: $title-font;
  font-weight: normal;

  @include text(16px, 20px);
  text-transform: uppercase;
  color: $color-card-title;
  
  @include tablets {
    @include text(20px, 24px);
    width: 140px;
    align-self: center;
    text-align: center;
    padding-left: 4px;
    margin-top: 0;
  }

  @include desktop {
    @include text(20px, 21px);
    margin-top: 0;
  }
}

.item-card__stats {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 11px;
  margin-left: -2px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
  }
}

.item-card__row {
  display: flex;

  @include text(12px, 15px);
  color: $color-devobs;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $color-border-additional;

    @include text(17px, 17px);
    padding: 6px 0;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 1px solid $color-border-additional;

    @include text(17px, 17px);
  }
}

.item-card__description {
  flex-grow: 1;

  // @include {
  //   display: flex;
  //   justify-content: space-between;
  // }
}

.item-card__value {
  flex-grow: 1;
  margin: 0;
  text-align: right;
  margin-right: -4px;

  @media (min-width: $tablet-width) {
    margin-right: -5px;
  }

  @media (min-width: $desktop-width) {
    margin-right: -3px;
  }
}

.item-card__order {
  // margin: 0 20px 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin: 0 36px 0 10px;
  }
}