.main-nav__wrapper {
  width: 320px;
  margin: 0 auto;
}

.site-list__item {
  padding-top: 22px;
  padding-bottom: 24px;
  list-style: none;
  text-align: center;
  border-top: 1px solid $color-light-border;
}

.site-list__item-link {
  font-family: $title-font;
  font-weight: 500;

  @include text(20px, 20px);
  color: $color-title-dark;
  text-transform: uppercase;
}
