@mixin pseudo($pos: absolute, $content: "") {
  content: $content;
  position: $pos;
}

@mixin text($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

//mobile mixin
@mixin desktop {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}

@mixin tablets {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: $mobile-width-only) {
    @content;
  }
}
