@mixin pseudo($pos: absolute, $content: "") {
  content: $content;
  position: $pos;
}

@mixin text($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

//mobile mixin
@mixin desktop {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}

@mixin tablets {
  @media screen and (min-width: $tablet-width) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: $mobile-width-only) {
    @content;
  }
}

/*
можно написать вот такие миксины
$desktop и другие переменные с размером
https:
у меня вот такие, но у тебя в проекте другие точки перехода
используются вот так https:
внутри класса пишется подключение миксина и внутри стили которые хочешь применить на медизапросе
в итоге вот это
html {
  font-size: 16px;

  @include laptop {
    font-size: 15px;
  }
}

преобразуется в html {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
*/