.program__wrapper {
  margin-bottom: 40px;

  @include tablets {
    margin-bottom: 65px;
  }
}

.program__title {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 29px;
  padding-bottom: 26px;
  font-family: $title-font;
  font-weight: normal;
  color: $color-title-dark;

  @include text(36px, 36px);

  @include tablets {
    @include text(60px, 60px);
    padding-top: 52px;
    margin-bottom: 28px;
  }

  @include desktop {
    padding-top: 60px;
    margin-bottom: 31px;
  }
}

.program__subtitle {
  margin: 0;
  font-family: $title-font;
  font-weight: normal;
  color: $color-title-dark;
  text-transform: uppercase;

  @include text(14px, 18px);

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 0 40px;
  }

  @include tablets {
    @include text(20px, 30px);
  }

  @include desktop {
    padding: 0;
  }
}