.program-selection__title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  padding-top: 28px;
  text-align: center;
  color: $color-title-light;
  font-family: $title-font;
  font-weight: normal;

  @include text(36px, 36px);

  @include tablets {
    padding-top: 0;
    margin-bottom: 42px;
    color: $color-title-dark;
    text-align: start;
    padding-left: 87px;
    @include text(60px, 60px);
  }

  @include desktop {
    padding-left: 80px;
    margin-bottom: 39px;
  }
}

.program-selection__subtitle {
  text-align: center;
  margin-bottom: 31px;
  color: $color-title-light;
  font-family: $title-font;
  font-weight: normal;
  text-transform: uppercase;

  @include text(14px, 14px);

  @include tablets {
    color: $color-title-dark;
    margin-bottom: 48px;
    text-align: start;
    padding-left: 87px;
    @include text(20px, 20px);
  }

  @include desktop {
    padding-left: 80px;
    margin-bottom: 52px;
  }
}

.program-selection__wrapper {
  position: relative;

  @include tablets {
    min-height: 845px;
    padding-top: 51px;
  }

  @include desktop {
    min-height: 637px;
    padding-top: 98px;
  }
}

.program-selection__image {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: -2px;
  margin-bottom: 2px;

  @include tablets {
    width: 709px;
    height: 609px;
    position: absolute;
    bottom: -18px;
    left: 0px;
    margin-top: -30px;
    z-index: -1;
  }

  @include desktop {
    width: 552px;
    height: 499px;
    position: absolute;
    bottom: 121px;
    left: 447px;
    z-index: -1;
  }
}
