.program-selection__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 27px;
  text-align: center;
  color: $color-title-light;
  font-family: $title-font;
  font-weight: normal;

  @include text(36px, 36px);

  @include tablets {
    color: $color-title-dark;
    text-align: start;
    padding-left: 87px;
  }
}

.program-selection__subtitle {
  text-align: center;
  margin-bottom: 29px;
  color: $color-title-light;
  font-family: $title-font;
  font-weight: normal;
  text-transform: uppercase;

  @include text(14px, 14px);

  @include tablets {
    color: $color-title-dark;
    text-align: start;
    padding-left: 87px;
  }
}

.program-selection__wrapper {
  position: relative;

  @include tablets {
    min-height: 845px;
    padding-top: 51px;
  }

  @include desktop {
    min-height: 637px;
    padding-top: 101px;
  }
}

.program-selection__image {
  display: block;
  text-align: center;
  margin: 0 auto;

  @include tablets {
    width: 709px;
    height: 609px;
    position: absolute;
    //bottom: -15px;
    z-index: -1;
  }

  @include desktop {
    width: 552px;
    height: 499px;
    position: absolute;
    bottom: 118px;
    left: 488px;
    z-index: -1;
  }
}

.button {
  @include tablets {
    align-items: center;
    max-width: 244px;
    max-height: 44px;
    margin-left: 87px;
  }

  @include desktop {
    align-items: center;
    max-width: 244px;
    max-height: 44px;
    margin-left: 87px;
  }
}
