.show-more-products {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 24px;
  border-bottom: 1px solid $color-light-border;

  @include tablets {
    padding-bottom: 0;
  }
}

.show-more-products__wrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-top: 1px solid $color-light-border;

  @include tablets {
    border: 1px solid $color-bg;
    min-height: 430px;
    padding: 0;
    margin-top: 77px;
  }
}

.show-more-products__title {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 9px;
  padding-top: 55px;
  font-family: $title-font;
  font-weight: normal;
  color: $color-contacts-text-title;
  text-transform: uppercase;

  @include text(16px, 20px);
  text-align: center;
  align-self: center;
  position: relative;

  &::before {
    @include pseudo;
    width: 30px;
    height: 30px;
    top: 2px;
    left: 87px;
    background: url("../img/big-plus.svg");
  }

  @include tablets {
    align-self: center;
    text-align: center;
    width: 135px;
    margin-bottom: 23px;

    @include text(20px, 22px);

    &::before {
      @include pseudo;
      width: 60px;
      height: 60px;
      top: -54px;
      left: 39px;
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 60 60' style='enable-background:new 0 0 60 60;' xml:space='preserve'%3E%3Cpolygon fill='%23d3d3d3' points='60,29.5 30.5,29.5 30.5,0 29.5,0 29.5,29.5 0,29.5 0,30.5 29.5,30.5 29.5,60 30.5,60 30.5,30.5 60,30.5 '/%3E%3C/svg%3E");
    }
  }
}

.show-more-products__subtitle {
  margin: 0;
  margin-bottom: 19px;
  color: $color-devobs;

  @include text(12px, 16px);
  text-align: center;

  @include tablets {
    align-self: center;
    text-align: center;
    width: 170px;
    margin-bottom: 86px;

    @include text(16px, 18px);
  }
}

.show-more-products__link {
  @include tablets {
    margin: 0 38px 36px;
  }

  @include desktop {
    margin: 0 38px 38px;
  }
}