$breakpoint-mobile: 320px;
$breakpoint-mobile-only: 767px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1220px;
$max-screen-width: 1300px;

@mixin mobile-only {
  @media (max-width: $breakpoint-mobile-only) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-tablet) { // min-width: 768
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) { // min-width: 1220
    @content;
  }
}
//--------------range----------------
$track-color: #dcdcdc;
$thumb-color: #68b738;

$thumb-radius: 50%;
$thumb-height: 32px;
$thumb-width: 32px;
$thumb-border-width: 12px;
$thumb-border-color: white;

$track-width: 428px;
$track-height: 6px;
$track-border-width: 0;
$track-border-color: transparent;
$track-radius: 3px;

@mixin track() {
  width: $track-width;
  height: $track-height;
  cursor: pointer;
  animate: 0.2s;
}

@mixin thumb() {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 5px 1px rgba(0, 0, 0, 0.15);
  border: $thumb-border-width solid $thumb-border-color;
  height: $thumb-height;
  width: $thumb-width;
  border-radius: $thumb-radius;
  background: $thumb-color;
  cursor: pointer;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.slider {

  @include desktop {
    width: 690px;
    position: relative;
    top: 3px;
    left: -4px;
  }
}

.slider__wrapper {

  @include tablets {

    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 93%;
      left: 59%;
      bottom: 0;
      background: $color-bg-example;
    }
  }

  @include desktop {
    margin-top: -227px;
  }
}

.slider__img--before {

  @include tablets {
    background: linear-gradient($color-title-light 169px, $color-bg-example 169px 100%);
    margin-right: 0;
    margin-left: 0;
    display: block;
    width: 85%;
    height: 517px;
    padding-left: 0;
    padding-right: 0;
    object-fit: none;
    object-position: 0 0;
    padding-left: 15px;
  }

  @include desktop {
    // background: linear-gradient($color-title-light 37.5%, $color-bg 37.5% 100%);
    background: none;
    display: block;
    width: 100%;
    height: 516px;
    object-fit: none;
    object-position: 0 0;
    // padding-left: 0;
    // padding-top: 4px;
    margin-top: -24px;
    padding-left: 45px;
  }
}

.range {
  display: none;
  background: transparent;

  @include tablet {
    display: block;
  }
  width: $track-width;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    @include track();
    background: $track-color;
    border-radius: $track-radius;
    border: $track-border-width solid $track-border-color;
  }

  &::-webkit-slider-thumb {
    @include thumb();
    margin-top: ((-$track-border-width * 2 + $track-height) / 2) - ($thumb-height / 2);
  }

  //----------------------------------

  &:focus::-webkit-slider-thumb,
  &:hover::-webkit-slider-thumb {
    box-shadow:
      0 0 0 1px rgba(0, 0, 0, 0.15),
      0 2px 5px 1px rgba(0, 0, 0, 0.15),
      0 3px 5px 1px rgba(0, 0, 0, 0.15),
      0 4px 5px 1px rgba(0, 0, 0, 0.15);
  }

  &:active::-webkit-slider-thumb {
    box-shadow:
      0 0 0 2px $thumb-color,
      0 2px 5px 1px rgba(0, 0, 0, 0.15),
      0 3px 5px 1px rgba(0, 0, 0, 0.15),
      0 4px 5px 1px rgba(0, 0, 0, 0.15);
  }

  //--------------------------------

  &::-moz-range-track {
    @include track();
    background: $track-color;
    border-radius: $track-radius;
    border: $track-border-width solid $track-border-color;
  }

  &::-moz-range-thumb {
    @include thumb();
  }

  &::-ms-track {
    @include track();
    background: transparent;
    border-color: transparent;
    border-width: $thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius*2;
  }

  &::-ms-fill-upper {
    background: $track-color;
    border: $track-border-width solid $track-border-color;
    border-radius: $track-radius*2;
  }

  &::-ms-thumb {
    @include thumb();
  }

  &:focus::-ms-fill-lower {
    background: $track-color;
  }
}

//--------------slider----------------
.slider__pictures {
  position: relative;
  // display: flex;
  // height: 517px;
}

.slider__button {
  width: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
  text-transform: uppercase;
  font-family: $title-font;
  font-weight: normal;
  color: $color-title-dark;

  @include text(16px, 20px)

    @include tablet {
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 6px;
    padding-left: 3px;
    padding-right: 3px;
    border-bottom: 1px dotted rgba(17, 17, 17, 0.23);
  }

  @include desktop {
    padding-left: 6px;
    padding-top: 3px;
  }
}

.slider__button--before {
  margin-right: 12px;
  text-align: right;

  @include tablet {
    width: 54px;
    margin-right: 0;
    position: relative;
    transform: translateX(63%);
  }

  @include desktop {
    position: relative;
    transform: translateX(79%);
  }
}

.slider__button--after {
  margin-left: 12px;
  text-align: left;

  @include tablet {
    width: 59px;
    margin-left: 0;
    position: relative;
    transform: translateX(-59%);
  }

  @include desktop {
    position: relative;
    transform: translateX(9%);
  }
}

.slider__range {
  margin-left: 22px;
  margin-right: 22px;

  @include tablet {
    width: 428px;
    margin-left: 21px;
    margin-right: 19px;
  }

  @include desktop {
    margin-left: 79px;
    z-index: 1;
    // margin-right: 12px;
  }
}

.slider__toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 208px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  padding-top: 25px;

  @include tablet {
    width: auto;
    padding-left: 1px;
    padding-top: 14px;
    padding-bottom: 68px;
    padding-left: 30px;
    padding-right: 30px;
    background: $color-bg-example;
  }

  @include desktop {
    margin-left: 74px;
    margin-top: 38px;
    margin-bottom: 68px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.slider__checkbox {
  display: none;
}

.slider__checkbox-label {
  position: relative;
  cursor: pointer;
  text-indent: -9999px;
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: rgb(255, 255, 255);
  display: block;


  @include tablet {
    display: none;
  }
}

.slider__checkbox-label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 6px;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
  transition: width 0.3s;
}

.slider__checkbox:checked + .slider__checkbox-label::after {
  right: 6px;
  left: initial;
}

.slider__checkbox-label:active::after {
  width: 80%;
}

.slider__picture--disabled {
  // display: none;
}

.slider__picture {

  &--before {
    position: relative;
    width: 113%;
    z-index: 1;
    right: 19px;

    @include tablets {
      position: relative;
      width: 59%;
      z-index: 1;
      right: 0;
    }

    @include desktop {
      width: 59%;
      right: 0;
      height: 100%;
      background: linear-gradient($color-title-light 36.5%, $color-bg-example 29.5% 100%);
}
  }

  &--after {
    // position: absolute;
    // right: -96px;
    // z-index: 0;
    // left: 0px;
    display: flex;
    top: 0;
    width: 50%;
    overflow: hidden;
    height: 100%;

    @include tablets {
      display: flex;
      top: 0;
      width: 50%;
      overflow: hidden;
      height: 100%;
    }

    @include desktop {
      height: 100%;
      background: linear-gradient($color-title-light 36.5%, $color-bg-example 29.5% 100%);
}

  }
}

.slider__img--after {

  @include tablets {
    position: absolute;
    top: 0;
    background: linear-gradient($color-title-light 169px, $color-bg-example 169px 100%);
    margin-right: 0;
    margin-left: 0;
    display: block;
    width: 100%;
    height: 517px;
    padding-left: 0;
    padding-right: 0;
    object-fit: none;
    object-position: 0 0;
    padding-left: 16px;
  }

  @include desktop {
    // background: linear-gradient($color-title-light 37.5%, $color-bg 37.5% 100%);
    background: none;
    display: block;
    width: 100%;
    height: 516px;
    object-fit: none;
    object-position: 0 0;
    margin-top: 1px;
    padding-left: 45px;
  }
}


// .slider__list {
//   margin-bottom: 31px;

//   @media (min-width: $tablet-width) {
//     position: relative;
//     display: block;
//     width: 690px;
//     text-align: center;
//     margin-left: auto;
//     margin-right: auto;
//     margin-bottom: 15px;
//   }

//   //Десктоп без разделения слайдов с градиентом
//   @media (min-width: $desktop-width) {
//     position: relative;
//     display: inline-block;
//     width: 100%;
//     max-width: 690px;
//     overflow: hidden;
//     margin: 0 0 36px 0;
//   }
// }

// .slider__container-before {
//   @media (min-width: $tablet-width) {
//     position: absolute;
//     width: 50%;
//     overflow: hidden;
//     object-fit: none;
//   }

//   @media (min-width: $desktop-width) {
//     position: absolute;
//     width: 53%;
//     overflow: hidden;
//     object-fit: none;
//   }

//   // перестроение для градиентного десктопа
//   @media (min-width: $desktop-width) {
//     height: 100%;
//   }
// }

// .slider__before {
//   display: block;

//   margin-right: auto;
//   margin-left: auto;

//   @media (min-width: $tablet-width) {
//     margin-right: 0;
//     margin-left: 0;
//     display: block;
//     width: 100%;
//     height: 517px;
//     object-fit: none;
//     object-position: 0 0;
//   }

//   @media (min-width: $desktop-width) {
//     display: block;
//     width: 100%;
//     height: 517px;
//     object-fit: none;
//     object-position: 0 0;
//   }

//   // перестроение для градиентного десктопа
//   @media (min-width: $desktop-width) {
//     height: 100%;
//     background: linear-gradient($color-title-light 29.5%, $color-bg 29.5% 100%);
//   }
// }

// .slider__after {
//   display: none;

//   margin-right: auto;
//   margin-left: auto;

//   @media (min-width: $tablet-width) {
//     display: block;
//     margin-left: 0;
//     margin-right: 0;
//     width: 100%;
//     height: 517px;
//     object-fit: none;
//     object-position: 0 0;
//   }

//   @media (min-width: $desktop-width) {
//     margin-left: 0;
//     margin-right: 0;
//     width: 100%;
//     height: 517px;
//   }
// }

// .slider__toggles {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   @media (min-width: $tablet-width) {
//     margin-top: 0;
//   }

//   @media (min-width: $desktop-width) {
//     margin-left: 39px;
//   }

//   // перестроение для градиентного десктопа
//   @media (min-width: $desktop-width) {
//     position: absolute;
//     bottom: 41px;
//     left: 43px;
//     z-index: 100;
//   }
// }

// .slider__toggle {
//   margin: 0;
//   padding: 0;
//   border: none;
//   background-color: transparent;
//   font-family: $title-font;
//   font-weight: normal;
//   color: $color-title-dark;
//   text-transform: uppercase;
//   text-align: center;

//   @include text(16px, 20px);

//   @media (min-width: $tablet-width) {
//     margin-right: 0;
//     padding: 0;
//     border-bottom: 1px dotted $color-slide-underline;

//     &:hover {
//       border-bottom: 1px solid $color-slide-underline-hover;
//     }
//   }

//   &--before {
//     margin-right: 15px;
//     margin-left: 8px;

//     @media (min-width: $tablet-width) {
//       margin-right: 25px;
//       margin-left: -3px;
//     }
//   }

//   &--after {
//     margin-left: 20px;
//   }

//   @media (min-width: $tablet-width) {
//     @include text(20px, 30px);
//   }
// }

// .slider__range {
//   position: relative;
//   width: 84px;
//   height: 14px;
//   border-radius: 6px;
//   border: 1px solid $color-border-additional;
//   background-color: $color-title-light;
//   padding: 3px 6px;

//   @media (min-width: $tablet-width) {
//     width: 428px;
//     height: 6px;
//     border-radius: 6px;
//     border: none;
//     background-color: $color-bg-range;
//     padding: 0 6px;
//   }
// }

// .slider__control {
//   position: absolute;
//   width: 35px;
//   height: 6px;
//   border-radius: 6px;
//   background-color: $color-button;
//   cursor: pointer;

//   @media (min-width: $tablet-width) {
//     position: absolute;
//     top: -12px;
//     left: 47%;
//     width: 32px;
//     height: 32px;
//     border-radius: 50%;
//     background-color: $color-button;
//     border: 12px solid $color-title-light;
//     box-shadow: 0 0 0 1px $color-border-hover,
//       0 1px 3px $color-shadow-range;

//     &:hover {
//       box-shadow: 0 0 0 1px $color-border-hover,
//         0 2px 4px $color-shadow-range-hover;
//     }

//     &:active {
//       box-shadow: 0 0 0 1px $color-button,
//         0 3px 5px $color-shadow-range-active;
//     }
//   }
// }
