$mobile-width-only:767px;
$tablet-width:768px;
$desktop-width:1220px;

$color-background: #e5e5e5;
$color-border: #d9d9d9;
$color-title-light: #ffffff;
$color-title-dark: #000000;
$color-button: #68b738;
$color-bg: #f2f2f2;
$color-devobs: #444444;
$color-light-border: #e6e6e6;
$color-card-title: #222222;
$color-bg-example: #eaeaea;
$color-contacts-text-title: #111111;
$color-border-additional: #cdcdcd;
$color-border-text: #e7e7e7;
$color-border-hover:#cdcdcd;
$color-border-active:#444444;
$color-border-error:#ff8282;
$color-checkbox-active:#bababa;

$main-font: "Arial","sans-serif";
$title-font: "Oswald";
