$color-background: #e5e5e5;
$color-border: #d9d9d9;
$color-title-light: #ffffff;
$color-title-dark: #000000;
$color-button: #68b738;
$color-bg: #f2f2f2;
$color-devobs: #444444;
$color-light-border: #e6e6e6;
$color-card-title: #222222;


$main-font: "Arial","sans-serif";
$title-font: "Oswald";
