$mobile-width-only:767px;
$tablet-width:768px;
$desktop-width:1220px;
$retina-dpi: "min-resolution: 144dpi";
$retina-dppx: "min-resolution: 1.5dppx";

$color-background: #e5e5e5;
$color-border: #d9d9d9;
$color-title-light: #ffffff;
$color-title-dark: #000000;
$color-button: #68b738;
$color-bg: #f2f2f2;
$color-devobs: #444444;
$color-light-border: #e6e6e6;
$color-card-title: #222222;
$color-bg-example: #eaeaea;
$color-contacts-text-title: #111111;
$color-border-additional: #cdcdcd;
$color-border-text: #e7e7e7;
$color-border-hover:#cdcdcd;
$color-border-active:#444444;
$color-border-error:#ff8282;
$color-checkbox-active:#bababa;
$color-bg-btn-hover: #5eaa2f;
$color-catalog-border:#ebebeb;
$color-text-paragraph-active:rgba(68, 68, 68, 0.3);
$color-text-alt-active:rgba(255, 255, 255, 0.3);
$color-social-link:#666666;
$color-bg-alt:#eaeaea;
$color-slide-underline: rgba(0, 0, 0, 0.24);
$color-slide-underline-hover: rgba(0, 0, 0, 0.4);
$color-bg-range:#dcdcdc;
$color-shadow-range: rgba(0, 0, 0, 0.16);
$color-shadow-range-hover: rgba(0, 0, 0, 0.19);
$color-shadow-range-active: rgba(0, 0, 0, 0.2);


$main-font: "Arial","sans-serif";
$title-font: "Oswald";
